* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

body {
    background-color: #f9f9f9;
    color: #000;
}

.header-container {
    position: fixed;
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
    transition: all 0.25s;
}

.header-scrolled {
    position: fixed;
    width: 100vw;
    height: 8vh;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
}

.header-container h1 {
    color: #000;
    font-family: 'Oswald';
    font-size: 1.8rem;
}

.header-logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo-img {
    width: 35px;
    height: 35px;
    margin: 5px 10px 0 0;
}

.header-logo-img img{
    width: 100%;
}

.header-navbar .navbar-buttons {
    display: flex;
    align-items: center;
}

.header-navbar .navbar-buttons li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
}

.header-navbar .navbar-buttons li .navbar-link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: bold;
}

.header-navbar .navbar-buttons li .navbar-link p{
    margin: 0 12px;
}

.footer-container {
    position: relative;
    width: 80vw;
    height: 10%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat';
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.footer-icons {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icons a {
    margin: 0 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icons img {
    width: 20px;
    height: 20px;
}

.main-page-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-content {
    width: 80vw;
    min-height: 100vh;
    margin: 8vh 0 0 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.main-content .content-heading {
    position: absolute;
    top: 30%;
    font-family: 'Montserrat';
    font-size: 2rem;
    width: 40vw;
}

.main-content .content-heading .heading-dreams {
    font-family: 'Pacifico';   
    font-weight: 100;
    font-size: 70px;
}

.main-content .wrapper-img {
    position: absolute;
    top: 20%;
    right: 20%;
    width: 400px;
    height: 400px;
}

.main-content .wrapper-img img {
    width: 100%;
    height: 100%;
}

.login-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-page-content {
    width: 40vw;
    min-height: 80vh;
    margin: 100px 0 0 0;
    background-color: rgba(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.form-user-heading-img {
    width: 150px;
    height: 150px;
    margin: 20px auto;
}

.form-user-heading-img img {
    width: 100%;
}


.form-user-heading h2 {
    text-align: center;
    font-family: 'Pacifico';
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 25px;
    margin-bottom: 50px;
}

.form-user-line {
    width: 90%;
    margin: 20px auto 40px auto;
    background-color: #000;
}

.form-user {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-user .form-group {
    margin: 20px 0;
}

.form-user .form-group input {
    width: 300px;
    padding: 8px 5px;
    border-radius: 5px;
    border: 0.2px solid rgba(0, 0, 0, 0.5);
    font-family: 'Montserrat';
    font-size: 13px;
}

.form-user form .submit-form {
    width: 300px;
    padding: 8px 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #000;
    color: #fff;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
}

.register-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.register-page-content {
    width: 40vw;
    min-height: 80vh;
    margin: 100px 0 0 0;
    background-color: rgba(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.register-page-content .form-user-heading h2 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 40px;
    margin-top: 40px;
    color: #3d3d3d
}